# Coverage directory
coverage

# Dependency directories
node_modules/

# Build files
dist

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
/.env

# yarn
*/.yarn/cache
*/.yarn/unplugged
*/.yarn/build-state.yml
*/.yarn/install-state.gz
*/.pnp.*
!*/.yarn/releases

# cargo
*/target/
.vscode/settings.json
